:root{
    --color-primary:#f69f27;
    --color-accaes:#fb5973;
    --color-secondry:#232323;
    --color-white:#fffdf5;
    --color-gray:#70707b;
}

// universel styling
.btn{
    margin: auto 10px;
    background-color: transparent;
    color: var(--color-secondry);
}

.btn-theme{
    color:var(--color-white);
    background-color: var(--color-accaes);
    padding: 10px 20px;
    transition: .5s ease;
    
    &:hover{
        opacity: .8;
        background-color: var(--color-secondry);
    }
    
}

.shadow{
    box-shadow: 0px 0px 0px 10;
}

.sub-heading{
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
    display: block;
    margin-bottom: auto;
}
.display-4{
    font-weight: 500;

}

.section{
    padding: 50px 0;
    .btn-theme{
        padding: 10px 30px;
    }
}



header{
    .navbar{
        
        .navbar-brand{
            color: var(--color-secondry);
            font-size: 24px;
            font-weight: 700;
            position: relative;
            
            &::before{
                content: "";
                position: absolute;
                left: 0%;
                bottom: 10%;
                width: 100%;
                height: 15px;
                background-color:var(--color-primary);
                z-index: -1;
            }

            .fa-bars{
                margin: auto;
            }
        }
        
        .collapse{
            margin-bottom: 10px;

            .nav-item{
                

                .nav-link{
                    color: var(--color-secondry);
                    font-size: 18px;
                    font-weight: 500;
                    position: relative;
                    
                    &::before{
                        content: "";
                        background-color:var(--color-secondry);
                        position: absolute;
                        bottom: 0;
                        left: -100%;
                        height: 2px;
                        width: 100%;
                        opacity: 0;
                        transition: .5s ease;

                    }
                    &:hover::before{
                        opacity: 1;
                        left: 0%;
                    }

                }
            }
            

            button{
                svg{
                    width: 20px;
                    height: 20px;
                    transition: .5s ease;
                    
                    &:hover{
                        fill: var(--color-accaes);
                    }
                }
            }
            
        }
    }
}

@media only screen and (max-width:991px){
    header{
        .navbar{
            .collapse{
                margin-bottom: 25px;
            }
            .d-flex{
                margin-top:25px;
            }
        }
    }

}


.banner{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    .container{
        .row{
            .display-3{
                font-weight: 700;
            }
            p{
                line-height: 30px;
                margin-bottom: 30px;
            }
            img{
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width:991px){
    .banner {
        height: auto;
           
        h1.display-3{
        font-size: 36px !important ;
         }
    }
}

@media only screen and (max-width:567px){
    .banner {
        text-align: center;
           
        h1.display-3{
        font-size: 26px !important ;
        font-weight: 400 ;
         }
    }
}

.about{
    .img-box{
        height: 100%;
        width: 100%;
        img{
            width: 100%;
        }

        .small-img {
            width: 100px;
        }

        
    }
    
    p{
        font-size: 17px;
        font-weight: 400;
        text-align: justify;
    }
    img{
        width: 100%;
    }
    .hotDog-img{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          
          img{
            width: 100px;
            height: 100px;
            object-fit: contain;
          }
    }
}

@media only screen and (max-width:991px){
    .img-box {

        .small-img {
            width: 50px;
        }
    }

    .display-4{
        font-size: 32px !important;
    }
    .hotDog-img{
        flex-direction: column;
        margin-top: -50px;
        position: relative;
        z-index: -1;
        img{
            width: 100%;
           
          }
    }
}
@media only screen and (max-width:567px){
    .about{
        text-align: center;
    }
    .display-4{
        font-size: 24px !important;
    }
    .sub-heading{
        font-size: 18px;
    }
    .hotDog-img{
      
        width: 50px;
        
    } 
}

.service{
    background-color: var(--color-white);
    .list{
        margin-top: 50px;
        .icon-svg{
            width: 120px;
            height: 50px;
            margin: 0 40px 0 0;
            position: relative;
            svg{
               width: 100%;
               height: 100%;
               fill: var(--color-primary);
               

               
            }
            &::before{
                content: "";
                position: absolute;
                background-color: var(--color-primary);
                top: -10%;
                right: -10%;
                width:50px;
                height: 50px;
                transform: rotate(45deg);
                border-radius: 5px;
                opacity: .4;
            }
        }
        .item{
            .h4{
                font-weight: 600;
            }
            p{
                width: 90%;
                font-weight: 500;
                font-size: 17px;
                line-height: 1.5;
                color: var(--color-gray);
            }
        }
        
    }
    .img-box{
        height: 700px;
        width: 100%;
        img{
            width: 100%;
        }

        .small-img {
            width: 100px;
        }
        .main-img{
            width: 100%;
            img{
               height: 600px;
               object-fit: contain;
               transform: rotateY(180deg);
            }
        }

        
    }
}

.menu{
    position: relative;
   


    .Chicken-imgBox{
        position: absolute;
        top:50px;
        left: 100px;
        width: 150px;
        height: 150px;
       
        img{
            width: 100%;
            
        }
    }    

    .myCard{
        margin-top: 20px;
        width: 100%;
        display: flex;
        background-color: var(--color-white);
        border-radius: 20px;
        justify-content: space-between;
        overflow: hidden;
        padding: 20px;
        box-shadow: 5px 10px 20px 0px #888888;

        .text-details{
            width: 40%;
            
            .h4{
                font-weight: 500;
                
            }
            .text{
                font-weight: 300;
                color: var(--color-gray);
                
            }
            .price{
                font-size: 24px;
                font-weight: 500;
                color: var(--color-primary);
              
            }
            a{
                color: var(--color-secondry);
                transition: .5s ease;
                &:hover{
                    color: var(--color-accaes);
                }
            }

            

        }
        &:hover .price{
            font-weight: bold;
        }

        .menu-img{
            width: 40%;
            object-fit: contain;
            img{
                width: 100%; 
                border-radius: 10px; 
            }
        }
    }
}

@media only screen and (max-width:991px){
    .menu{

        .Chicken-imgBox{
            top: 0;
            left: 0;
            
            width: 80px;
            height: 80px;
            border: 1px solid green;
            
            img{
                width: 100%;
                height: 250px;
            }
        }
        .myCard{
            
            
            .text-details{
              width: 50%;
                .h4{
                    font-weight: 300;
                    font-size: 20px;
                    padding: 0;
                    margin: 0;
                    
                }
                .text{
                    font-weight: 200;
                    font-size: 18px;
                    padding: 0;
                    margin: 0;
                    
                }
                .price{
                    font-size: 20px;
                    font-weight: 300;
                    padding: 0;
                    margin: 0rem;
                    
                }
                
            }
        }
    }
}
@media only screen and (max-width:567px){

    .Chicken-imgBox{
        top:0px;
        left: 0px;
        width: 20px;
        height: 20px;
    }
    .menu{

        .myCard{
            flex-direction: column-reverse;
            width: 80%;
            margin:20px auto  ;
            .menu-img{
                width: 100%;
                object-fit: cover;
            }
            
            .text-details{
              width: 100%;
                .h4{
                    font-weight: bold;
                    font-size: 20px;
                    padding: 0;
                    margin-top: 10px;
                    
                }
                .text{
                    font-weight: 200;
                    font-size: 18px;
                    padding: 0;
                    margin: 0;
                    
                }
                .price{
                    font-size: 20px;
                    font-weight: bold;
                    padding: 0;
                    margin: 0rem;
                    
                }
                
            }
        }
    }

}
.footer{
    background-color: var(--color-secondry);
    margin-top: 50px;
   
    .container{
        padding: 30px;
       

        .list{
            color: var(--color-white);
            
            h5{
                font-weight: bold;
            }
            ul{
                padding: 0rem;
                li{
                    list-style-type: none;
                    color: var(--color-white);
                    
                    &:hover{
                        color: var(--color-white);
                        font-weight: bold;
                    }
                }
            }
            .subscribe{
                display: flex;
                
                input{
                    width: 70%;
                    padding: 6px 20px;
                    
                    
                }
                button{
                    &:hover{
                        color: var(--color-secondry);
                        background-color: var(--color-primary);
                    }
                }
            }
            .social-links{
                margin: top 20px; ;
                ul{
                    
                    li{
                        font-size: 28px;
                        display: inline;
                        margin-right: 20px;
                        i{
                            color: var(--color-white);
                            transition: .5s ease;
                            
                            &:hover{
                                color: var(--color-accaes);
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright{
        background-color: #fff;
        color: var(--color-secondry);
        text-align: center  ;
        span{
            font-weight: bold;
            color: var(--color-primary);
        }
    }
}

@media only screen and (max-width:567px){
    .footer{
       
        .list{
            
            
            .subscribe{
                
                input{
                    padding: 5px ;
                    
                  
                }
                button{
                   padding: 5px ;
                  
                }
            }
            .social-links{
               
                ul{
                   
                    li{
                        font-size: 20px;
                        margin-right: 15px;
                       
                    }
                }
            }
        }
    }
}